body.page-preview
{
padding-top:10px; padding-left:10px;
}
.page-preview .rnr-c-fields,
  .rnr-pagewrapper .page-preview .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-fields
{
margin-bottom:5px;
}
.page-preview .rnr-c-fields,
  .rnr-pagewrapper .page-preview .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-fields
{
min-width: 500px; display:inline-block
}
.page-preview .rnr-cw-fields,
  .rnr-pagewrapper .page-preview .rnr-cw-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-cw-fields
{
text-align: left;
}
.page-preview .rnr-b-editheader,
  .rnr-pagewrapper .page-preview .rnr-b-editheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editheader
{
white-space: nowrap;
}
.page-preview .rnr-b-editheader,
  .rnr-pagewrapper .page-preview .rnr-b-editheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editheader
{
text-align: right;
}
.page-preview .rnr-b-editheader > *,
  .rnr-pagewrapper .page-preview .rnr-b-editheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editheader > *
{
font-size: 120%;
}
.page-preview .rnr-b-message,
  .rnr-pagewrapper .page-preview .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-message
{
white-space: nowrap;
}
.page-preview .rnr-b-message,
  .rnr-pagewrapper .page-preview .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-message
{
text-align: right;
}
.page-preview .rnr-b-message > *,
  .rnr-pagewrapper .page-preview .rnr-b-message > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-message > *
{

}
.page-preview .rnr-b-multistep_nav_edit,
  .rnr-pagewrapper .page-preview .rnr-b-multistep_nav_edit,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-multistep_nav_edit
{
white-space: nowrap;
}
.page-preview .rnr-b-multistep_nav_edit,
  .rnr-pagewrapper .page-preview .rnr-b-multistep_nav_edit,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-multistep_nav_edit
{
text-align: right;
}
.page-preview .rnr-b-multistep_nav_edit > *,
  .rnr-pagewrapper .page-preview .rnr-b-multistep_nav_edit > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-multistep_nav_edit > *
{

}
.page-preview .rnr-b-editfields,
  .rnr-pagewrapper .page-preview .rnr-b-editfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editfields
{
white-space: nowrap;
}
.page-preview .rnr-b-editfields,
  .rnr-pagewrapper .page-preview .rnr-b-editfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editfields
{
text-align: right;
}
.page-preview .rnr-b-editfields > *,
  .rnr-pagewrapper .page-preview .rnr-b-editfields > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editfields > *
{

}
.page-preview .rnr-b-editbuttons,
  .rnr-pagewrapper .page-preview .rnr-b-editbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editbuttons
{
white-space: nowrap;
}
.page-preview .rnr-b-editbuttons,
  .rnr-pagewrapper .page-preview .rnr-b-editbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editbuttons
{
text-align: right;
}
.page-preview .rnr-b-editbuttons > *,
  .rnr-pagewrapper .page-preview .rnr-b-editbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editbuttons > *
{

}
.page-preview .rnr-c-details,
  .rnr-pagewrapper .page-preview .rnr-c-details,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-details
{
margin-bottom:5px;
}
.page-preview .rnr-b-editdetails,
  .rnr-pagewrapper .page-preview .rnr-b-editdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editdetails
{
white-space: nowrap;
}
.page-preview .rnr-b-editdetails,
  .rnr-pagewrapper .page-preview .rnr-b-editdetails,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editdetails
{
text-align: right;
}
.page-preview .rnr-b-editdetails > *,
  .rnr-pagewrapper .page-preview .rnr-b-editdetails > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-editdetails > *
{

}
body.page-preview .rnr-center
{
padding-right: 5px;
}
.page-preview .rnr-c-menu,
  .rnr-pagewrapper .page-preview .rnr-c-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-menu
{
margin-bottom:5px;
}
.page-preview .rnr-c-menu,
  .rnr-pagewrapper .page-preview .rnr-c-menu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-c-menu
{
min-width: 100px;
}
.page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu
{
white-space: nowrap;
}
.page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu
{
text-align: right;
}
.page-preview .rnr-b-vmenu > *,
  .rnr-pagewrapper .page-preview .rnr-b-vmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-preview .rnr-b-vmenu > *
{

}
body.page-preview  > * > * > .rnr-left
{
min-width:260px;
}
body.page-preview .rnr-left
{
padding-right: 5px;
}
body.page-preview  > * > * > .rnr-left
{
width: 32%;
}
