body.function-list,  body.function-menu, body.function-login {
height:100%;
background:transparent url("http://kreatiwi.com/eexam/images/background.jpg") no-repeat center center fixed;
background-size:cover;
}

 .rnr-left, .rnr-center  {

 }