body.page-remind5
{
padding-top:10px; padding-left:10px;
}
.page-remind5 .rnr-c-fields,
  .rnr-pagewrapper .page-remind5 .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-c-fields
{
margin-bottom:5px;
}
.page-remind5 .rnr-c-fields,
  .rnr-pagewrapper .page-remind5 .rnr-c-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-c-fields
{
min-width: 500px; display:inline-block
}
.page-remind5 .rnr-cw-fields,
  .rnr-pagewrapper .page-remind5 .rnr-cw-fields,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-cw-fields
{
text-align: left;
}
.page-remind5 .rnr-b-remindheader,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindheader
{
white-space: nowrap;
}
.page-remind5 .rnr-b-remindheader,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindheader,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindheader
{
text-align: right;
}
.page-remind5 .rnr-b-remindheader > *,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindheader > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindheader > *
{
font-size: 120%;
}
.page-remind5 .rnr-b-message,
  .rnr-pagewrapper .page-remind5 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-message
{
white-space: nowrap;
}
.page-remind5 .rnr-b-message,
  .rnr-pagewrapper .page-remind5 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-message
{
text-align: right;
}
.page-remind5 .rnr-b-message > *,
  .rnr-pagewrapper .page-remind5 .rnr-b-message > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-message > *
{

}
.page-remind5 .rnr-b-remindfields,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindfields
{
white-space: nowrap;
}
.page-remind5 .rnr-b-remindfields,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindfields,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindfields
{
text-align: right;
}
.page-remind5 .rnr-b-remindfields > *,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindfields > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindfields > *
{

}
.page-remind5 .rnr-b-remindbuttons,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindbuttons
{
white-space: nowrap;
}
.page-remind5 .rnr-b-remindbuttons,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindbuttons
{
text-align: right;
}
.page-remind5 .rnr-b-remindbuttons > *,
  .rnr-pagewrapper .page-remind5 .rnr-b-remindbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-remind5 .rnr-b-remindbuttons > *
{

}
body.page-remind5 .rnr-top
{
padding-right: 5px;
}
