body.page-ug_rights2
{
padding-top:10px; padding-left:10px;
}
.page-ug_rights2 .rnr-c-ugcontrols,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-ugcontrols,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-ugcontrols
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-ugcontrols,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-ugcontrols,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-ugcontrols
{
min-width: 100px;
}
.page-ug_rights2 .rnr-b-ugbuttons,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugbuttons
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-ugbuttons,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugbuttons
{
text-align: right;
}
.page-ug_rights2 .rnr-b-ugbuttons > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugbuttons > *
{

}
.page-ug_rights2 .rnr-b-ugrightbuttons,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightbuttons
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-ugrightbuttons,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightbuttons,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightbuttons
{
text-align: left;
}
.page-ug_rights2 .rnr-b-ugrightbuttons > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightbuttons > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightbuttons > *
{

}
.page-ug_rights2 .rnr-c-message,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-message
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-message,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-message
{
min-width: 100px;
}
.page-ug_rights2 .rnr-b-message,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-message
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-message,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-message,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-message
{
text-align: center;
}
.page-ug_rights2 .rnr-b-message > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-message > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-message > *
{

}
.page-ug_rights2 .rnr-c-grid,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-grid,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-grid
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-b-ugrightsblock,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsblock,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsblock
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-ugrightsblock,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsblock,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsblock
{
text-align: right;
}
.page-ug_rights2 .rnr-b-ugrightsblock > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsblock > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsblock > *
{

}
.page-ug_rights2 .rnr-c-pagination,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-pagination
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-pagination,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-pagination
{
min-width: 100px;
}
.page-ug_rights2 .rnr-b-pagination,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-pagination
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-pagination,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-pagination,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-pagination
{
text-align: center;
}
.page-ug_rights2 .rnr-b-pagination > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-pagination > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-pagination > *
{

}
body.page-ug_rights2 .rnr-center
{
padding-right: 5px;
}
.page-ug_rights2 .rnr-c-left,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-left,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-left
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-left,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-left,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-left
{
min-width: 300px;
}
.page-ug_rights2 .rnr-b-languages,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-languages
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-languages,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-languages,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-languages
{
text-align: right;
}
.page-ug_rights2 .rnr-b-languages > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-languages > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-languages > *
{

}
.page-ug_rights2 .rnr-b-loggedas,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-loggedas
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-loggedas,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-loggedas,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-loggedas
{
text-align: right;
}
.page-ug_rights2 .rnr-b-loggedas > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-loggedas > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-loggedas > *
{

}
.page-ug_rights2 .rnr-c-uggroup,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-uggroup,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-uggroup
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-uggroup,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-uggroup,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-uggroup
{
min-width: 300px;
}
.page-ug_rights2 .rnr-b-ugrightsgroup,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsgroup,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsgroup
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-ugrightsgroup,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsgroup,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsgroup
{
text-align: right;
}
.page-ug_rights2 .rnr-b-ugrightsgroup > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsgroup > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-ugrightsgroup > *
{

}
body.page-ug_rights2 .rnr-left
{
padding-right: 5px;
}
.page-ug_rights2 .rnr-c-master,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-master,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-master
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-b-masterinfo,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-masterinfo,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-masterinfo
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-masterinfo,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-masterinfo,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-masterinfo
{
text-align: right;
}
.page-ug_rights2 .rnr-b-masterinfo > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-masterinfo > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-masterinfo > *
{

}
.page-ug_rights2 .rnr-c-toplinks,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-toplinks,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-toplinks
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-toplinks,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-toplinks,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-toplinks
{
min-width: 100px;
}
.page-ug_rights2 .rnr-b-toplinks_print,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_print,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_print
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-toplinks_print,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_print,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_print
{
text-align: right;
}
.page-ug_rights2 .rnr-b-toplinks_print > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_print > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_print > *
{

}
.page-ug_rights2 .rnr-b-toplinks_advsearch,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_advsearch,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_advsearch
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-toplinks_advsearch,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_advsearch,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_advsearch
{
text-align: right;
}
.page-ug_rights2 .rnr-b-toplinks_advsearch > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_advsearch > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_advsearch > *
{

}
.page-ug_rights2 .rnr-b-toplinks_import,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_import,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_import
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-toplinks_import,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_import,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_import
{
text-align: right;
}
.page-ug_rights2 .rnr-b-toplinks_import > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_import > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_import > *
{

}
.page-ug_rights2 .rnr-b-toplinks_export,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-toplinks_export,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export
{
text-align: right;
}
.page-ug_rights2 .rnr-b-toplinks_export > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export > *
{

}
.page-ug_rights2 .rnr-b-toplinks_export_links,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export_links,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export_links
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-toplinks_export_links,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export_links,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export_links
{
text-align: right;
}
.page-ug_rights2 .rnr-b-toplinks_export_links > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export_links > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-toplinks_export_links > *
{

}
.page-ug_rights2 .rnr-c-hmenu,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-hmenu
{
margin-bottom:5px;
}
.page-ug_rights2 .rnr-c-hmenu.rnr-c-hmenu:before,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-hmenu.rnr-c-hmenu:before,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-hmenu.rnr-c-hmenu:before
{
display: none;
}
.page-ug_rights2 .rnr-c-hmenu.rnr-c-hmenu:after,
  .rnr-pagewrapper .page-ug_rights2 .rnr-c-hmenu.rnr-c-hmenu:after,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-c-hmenu.rnr-c-hmenu:after
{
display: none;
}
.page-ug_rights2 .rnr-b-hmenu,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-hmenu
{
white-space: nowrap;
}
.page-ug_rights2 .rnr-b-hmenu,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-hmenu,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-hmenu
{
text-align: right;
}
.page-ug_rights2 .rnr-b-hmenu > *,
  .rnr-pagewrapper .page-ug_rights2 .rnr-b-hmenu > *,
  .rnr-pagewrapper .rnr-pagewrapper .page-ug_rights2 .rnr-b-hmenu > *
{

}
body.page-ug_rights2 .rnr-top
{
padding-right: 5px;
}
