<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN aDate_tabfieldblock}
<tr class="{$fielddispclass_aDate}" data-fieldname="aDate">
	<td class="style1 rnr-label">
		{$label all aDate}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_aDate">
		{$aDate_value}
		</div>
	</td>
</tr>
{END aDate_tabfieldblock}
{BEGIN ref_tabfieldblock}
<tr class="{$fielddispclass_ref}" data-fieldname="ref">
	<td class="style1 rnr-label">
		{$label all ref}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_ref">
		{$ref_value}
		</div>
	</td>
</tr>
{END ref_tabfieldblock}
{BEGIN aStatus_tabfieldblock}
<tr class="{$fielddispclass_aStatus}" data-fieldname="aStatus">
	<td class="style1 rnr-label">
		{$label all aStatus}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_aStatus">
		{$aStatus_value}
		</div>
	</td>
</tr>
{END aStatus_tabfieldblock}
</table>




{END container_1}

</div>