<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN aType_tabfieldblock}
<tr class="{$fielddispclass_aType}" data-fieldname="aType">
	<td class="style1 rnr-label">
		{BEGIN aType_label}{$label all aType}{END aType_label}
	</td>
	<td class="rnr-control style3">
		{$aType_editcontrol}&nbsp;
	</td>
</tr>
{END aType_tabfieldblock}
{BEGIN elementID_tabfieldblock}
<tr class="{$fielddispclass_elementID}" data-fieldname="elementID">
	<td class="style1 rnr-label">
		{BEGIN elementID_label}{$label all elementID}{END elementID_label}
	</td>
	<td class="rnr-control style3">
		{$elementID_editcontrol}&nbsp;
	</td>
</tr>
{END elementID_tabfieldblock}
{BEGIN userID_tabfieldblock}
<tr class="{$fielddispclass_userID}" data-fieldname="userID">
	<td class="style1 rnr-label">
		{BEGIN userID_label}{$label all userID}{END userID_label}
	</td>
	<td class="rnr-control style3">
		{$userID_editcontrol}&nbsp;
	</td>
</tr>
{END userID_tabfieldblock}
{BEGIN userCheck_tabfieldblock}
<tr class="{$fielddispclass_userCheck}" data-fieldname="userCheck">
	<td class="style1 rnr-label">
		{BEGIN userCheck_label}{$label all userCheck}{END userCheck_label}
	</td>
	<td class="rnr-control style3">
		{$userCheck_editcontrol}&nbsp;
	</td>
</tr>
{END userCheck_tabfieldblock}
{BEGIN userAuditee_tabfieldblock}
<tr class="{$fielddispclass_userAuditee}" data-fieldname="userAuditee">
	<td class="style1 rnr-label">
		{BEGIN userAuditee_label}{$label all userAuditee}{END userAuditee_label}
	</td>
	<td class="rnr-control style3">
		{$userAuditee_editcontrol}&nbsp;
	</td>
</tr>
{END userAuditee_tabfieldblock}
</table>




{END container_1}

</div>