<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN aDate_tabfieldblock}
<tr class="{$fielddispclass_aDate}" data-fieldname="aDate">
	<td class="style1 rnr-label">
		{BEGIN aDate_label}{$label all aDate}{END aDate_label}
	</td>
	<td class="rnr-control style3">
		{$aDate_editcontrol}&nbsp;
	</td>
</tr>
{END aDate_tabfieldblock}
{BEGIN aStatus_tabfieldblock}
<tr class="{$fielddispclass_aStatus}" data-fieldname="aStatus">
	<td class="style1 rnr-label">
		{BEGIN aStatus_label}{$label all aStatus}{END aStatus_label}
	</td>
	<td class="rnr-control style3">
		{$aStatus_editcontrol}&nbsp;
	</td>
</tr>
{END aStatus_tabfieldblock}
</table>




{END container_1}

</div>