

<DIV {$pageattrs}>
{BEGIN container_1}
<TABLE class="fieldGrid" style="width: 668px; height: 176px;"> 
  <TBODY>
  {BEGIN aDate_tabfieldblock}<TR class="{$fielddispclass_aDate}" data-fieldname="aDate">
    <TD class="style1 rnr-label" style="width: 225px;">{BEGIN aDate_label}
      {$label audit_form aDate}{END aDate_label} </TD>
    <TD class="rnr-control style3" style="width: 807px;">
      {$aDate_editcontrol}&nbsp;</TD></TR>
  {END aDate_tabfieldblock}{BEGIN dueDate_tabfieldblock}<TR class="{$fielddispclass_dueDate}" data-fieldname="dueDate">
    <TD class="style1 rnr-label" style="width: 225px;">{BEGIN dueDate_label}
      {$label audit_form dueDate}{END dueDate_label} </TD>
    <TD class="rnr-control style3" style="width: 807px;">
      {$dueDate_editcontrol}&nbsp;</TD></TR>
  {END dueDate_tabfieldblock}{BEGIN dueDate2_tabfieldblock}<TR class="{$fielddispclass_dueDate2}" data-fieldname="dueDate2">
    <TD class="style1 rnr-label" style="width: 225px;">{BEGIN dueDate2_label}
      {$label audit_form dueDate2}{END dueDate2_label} </TD>
    <TD class="rnr-control style3" style="width: 807px;">
      {$dueDate2_editcontrol}&nbsp;</TD></TR>
  {END dueDate2_tabfieldblock}{BEGIN dueDate3_tabfieldblock}<TR class="{$fielddispclass_dueDate3}" data-fieldname="dueDate3">
    <TD class="style1 rnr-label" style="width: 225px;">{BEGIN dueDate3_label}
      {$label audit_form dueDate3}{END dueDate3_label} </TD>
    <TD class="rnr-control style3" style="width: 807px;">
      {$dueDate3_editcontrol}&nbsp;</TD></TR>
  {END dueDate3_tabfieldblock}{BEGIN dateFinish_tabfieldblock}<TR class="{$fielddispclass_dateFinish}" data-fieldname="dateFinish">
    <TD class="style1 rnr-label" style="width: 225px;">{BEGIN dateFinish_label}
      {$label audit_form dateFinish}{END dateFinish_label} </TD>
    <TD class="rnr-control style3" style="width: 807px;">
      {$dateFinish_editcontrol}&nbsp;
</TD></TR>{END dateFinish_tabfieldblock}</TBODY></TABLE> 
{END container_1}</DIV>