<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN aDate_tabfieldblock}
<tr class="{$fielddispclass_aDate}" data-fieldname="aDate">
	<td class="style1 rnr-label">
		{$label audit_form_manual aDate}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_aDate">
		{$aDate_value}
		</div>
	</td>
</tr>
{END aDate_tabfieldblock}
{BEGIN dateCheck_tabfieldblock}
<tr class="{$fielddispclass_dateCheck}" data-fieldname="dateCheck">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateCheck}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateCheck">
		{$dateCheck_value}
		</div>
	</td>
</tr>
{END dateCheck_tabfieldblock}
{BEGIN dateApprove_tabfieldblock}
<tr class="{$fielddispclass_dateApprove}" data-fieldname="dateApprove">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateApprove}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateApprove">
		{$dateApprove_value}
		</div>
	</td>
</tr>
{END dateApprove_tabfieldblock}
{BEGIN dateSend_tabfieldblock}
<tr class="{$fielddispclass_dateSend}" data-fieldname="dateSend">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateSend}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateSend">
		{$dateSend_value}
		</div>
	</td>
</tr>
{END dateSend_tabfieldblock}
{BEGIN dueDate_tabfieldblock}
<tr class="{$fielddispclass_dueDate}" data-fieldname="dueDate">
	<td class="style1 rnr-label">
		{$label audit_form_manual dueDate}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dueDate">
		{$dueDate_value}
		</div>
	</td>
</tr>
{END dueDate_tabfieldblock}
{BEGIN dateRemind_tabfieldblock}
<tr class="{$fielddispclass_dateRemind}" data-fieldname="dateRemind">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateRemind}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateRemind">
		{$dateRemind_value}
		</div>
	</td>
</tr>
{END dateRemind_tabfieldblock}
{BEGIN dateAnswer_tabfieldblock}
<tr class="{$fielddispclass_dateAnswer}" data-fieldname="dateAnswer">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateAnswer}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateAnswer">
		{$dateAnswer_value}
		</div>
	</td>
</tr>
{END dateAnswer_tabfieldblock}
{BEGIN dateFollowUp_tabfieldblock}
<tr class="{$fielddispclass_dateFollowUp}" data-fieldname="dateFollowUp">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateFollowUp}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateFollowUp">
		{$dateFollowUp_value}
		</div>
	</td>
</tr>
{END dateFollowUp_tabfieldblock}
{BEGIN dateAnswer2_tabfieldblock}
<tr class="{$fielddispclass_dateAnswer2}" data-fieldname="dateAnswer2">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateAnswer2}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateAnswer2">
		{$dateAnswer2_value}
		</div>
	</td>
</tr>
{END dateAnswer2_tabfieldblock}
{BEGIN dateFollowUp2_tabfieldblock}
<tr class="{$fielddispclass_dateFollowUp2}" data-fieldname="dateFollowUp2">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateFollowUp2}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateFollowUp2">
		{$dateFollowUp2_value}
		</div>
	</td>
</tr>
{END dateFollowUp2_tabfieldblock}
{BEGIN dateAnswer3_tabfieldblock}
<tr class="{$fielddispclass_dateAnswer3}" data-fieldname="dateAnswer3">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateAnswer3}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateAnswer3">
		{$dateAnswer3_value}
		</div>
	</td>
</tr>
{END dateAnswer3_tabfieldblock}
{BEGIN dateRemind2_tabfieldblock}
<tr class="{$fielddispclass_dateRemind2}" data-fieldname="dateRemind2">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateRemind2}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateRemind2">
		{$dateRemind2_value}
		</div>
	</td>
</tr>
{END dateRemind2_tabfieldblock}
{BEGIN dueDate2_tabfieldblock}
<tr class="{$fielddispclass_dueDate2}" data-fieldname="dueDate2">
	<td class="style1 rnr-label">
		{$label audit_form_manual dueDate2}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dueDate2">
		{$dueDate2_value}
		</div>
	</td>
</tr>
{END dueDate2_tabfieldblock}
{BEGIN dateRemind3_tabfieldblock}
<tr class="{$fielddispclass_dateRemind3}" data-fieldname="dateRemind3">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateRemind3}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateRemind3">
		{$dateRemind3_value}
		</div>
	</td>
</tr>
{END dateRemind3_tabfieldblock}
{BEGIN dueDate3_tabfieldblock}
<tr class="{$fielddispclass_dueDate3}" data-fieldname="dueDate3">
	<td class="style1 rnr-label">
		{$label audit_form_manual dueDate3}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dueDate3">
		{$dueDate3_value}
		</div>
	</td>
</tr>
{END dueDate3_tabfieldblock}
{BEGIN dateFinish_tabfieldblock}
<tr class="{$fielddispclass_dateFinish}" data-fieldname="dateFinish">
	<td class="style1 rnr-label">
		{$label audit_form_manual dateFinish}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_dateFinish">
		{$dateFinish_value}
		</div>
	</td>
</tr>
{END dateFinish_tabfieldblock}
</table>




{END container_1}

</div>