<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN planID_tabfieldblock}
<tr class="{$fielddispclass_planID}" data-fieldname="planID">
	<td class="style1 rnr-label">
		{$label audit_form_manual planID}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_planID">
		{$planID_value}
		</div>
	</td>
</tr>
{END planID_tabfieldblock}
{BEGIN aTypeCode_tabfieldblock}
<tr class="{$fielddispclass_aTypeCode}" data-fieldname="aTypeCode">
	<td class="style1 rnr-label">
		{$label audit_form_manual aTypeCode}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_aTypeCode">
		{$aTypeCode_value}
		</div>
	</td>
</tr>
{END aTypeCode_tabfieldblock}
{BEGIN ref_tabfieldblock}
<tr class="{$fielddispclass_ref}" data-fieldname="ref">
	<td class="style1 rnr-label">
		{$label audit_form_manual ref}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_ref">
		{$ref_value}
		</div>
	</td>
</tr>
{END ref_tabfieldblock}
{BEGIN aStatus_tabfieldblock}
<tr class="{$fielddispclass_aStatus}" data-fieldname="aStatus">
	<td class="style1 rnr-label">
		{$label audit_form_manual aStatus}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_aStatus">
		{$aStatus_value}
		</div>
	</td>
</tr>
{END aStatus_tabfieldblock}
{BEGIN userID_tabfieldblock}
<tr class="{$fielddispclass_userID}" data-fieldname="userID">
	<td class="style1 rnr-label">
		{$label audit_form_manual userID}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_userID">
		{$userID_value}
		</div>
	</td>
</tr>
{END userID_tabfieldblock}
{BEGIN userCheck_tabfieldblock}
<tr class="{$fielddispclass_userCheck}" data-fieldname="userCheck">
	<td class="style1 rnr-label">
		{$label audit_form_manual userCheck}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_userCheck">
		{$userCheck_value}
		</div>
	</td>
</tr>
{END userCheck_tabfieldblock}
{BEGIN userApprove_tabfieldblock}
<tr class="{$fielddispclass_userApprove}" data-fieldname="userApprove">
	<td class="style1 rnr-label">
		{$label audit_form_manual userApprove}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_userApprove">
		{$userApprove_value}
		</div>
	</td>
</tr>
{END userApprove_tabfieldblock}
{BEGIN userAuditee_tabfieldblock}
<tr class="{$fielddispclass_userAuditee}" data-fieldname="userAuditee">
	<td class="style1 rnr-label">
		{$label audit_form_manual userAuditee}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_userAuditee">
		{$userAuditee_value}
		</div>
	</td>
</tr>
{END userAuditee_tabfieldblock}
{BEGIN repeatStatus_tabfieldblock}
<tr class="{$fielddispclass_repeatStatus}" data-fieldname="repeatStatus">
	<td class="style1 rnr-label">
		{$label audit_form_manual repeatStatus}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_repeatStatus">
		{$repeatStatus_value}
		</div>
	</td>
</tr>
{END repeatStatus_tabfieldblock}
{BEGIN repeatNo_tabfieldblock}
<tr class="{$fielddispclass_repeatNo}" data-fieldname="repeatNo">
	<td class="style1 rnr-label">
		{$label audit_form_manual repeatNo}
	</td>
	<td class="rnr-control style3">
		<div class="fieldvalue_repeatNo">
		{$repeatNo_value}
		</div>
	</td>
</tr>
{END repeatNo_tabfieldblock}
</table>




{END container_1}

</div>