<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="fullname">
	{$fullname_editcontrol}
	</control>
	<control 
	field="umail">
	{$umail_editcontrol}
	</control>
	<control 
	field="tel">
	{$tel_editcontrol}
	</control>
	<control 
	field="pos">
	{$pos_editcontrol}
	</control>
	<control 
	field="sector">
	{$sector_editcontrol}
	</control>
	<control 
	field="department">
	{$department_editcontrol}
	</control>
	<control 
	field="paid">
	{$paid_editcontrol}
	</control>
	<control 
	field="agency">
	{$agency_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
