<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			



{BEGIN container_toplinks}
<div class="rnr-c rnr-ch rnr-c-toplinks">
<div class="rnr-hfiller"></div>
{BEGIN security_block}
<div  class="style1 rnr-br rnr-b-loggedas {$brickclass_loggedas}"><div id="login_block{$id}">
	{BEGIN loggedas_message} 
	<span>Log-masuk sebagai&nbsp;<b>{$username}</b>&nbsp;</span> 
	{END loggedas_message}
	{BEGIN guestloginbutton}
	<span>
		<a href="#" class="rnr-button" {$guestloginlink_attrs}>Log-masuk</a>
	</span>
	{END guestloginbutton}
	{BEGIN logoutbutton}
	<a href="#" class="rnr-button" {$logoutlink_attrs}>Log-keluar</a>
	{END logoutbutton}
	{BEGIN adminarea_link}
	<a href="admin_rights_list.php" class="rnr-button" {$adminarealink_attrs}>Admin Area</a>
	{END adminarea_link}

	{BEGIN changepwd_link}
	<a href="#" class="rnr-button" {$changepwdlink_attrs}>Tukar katalaluan</a>
	{END changepwd_link}
</div></div>
{END security_block}



</div>
{END container_toplinks}



{BEGIN container_hmenu}
<div class="rnr-c rnr-ch rnr-c-hmenu">

{BEGIN menu_block}
{$menu main horizontal}{END menu_block}

<div class="rnr-hfiller"></div>
{BEGIN searchform_block}
<div  class="style1 rnr-br rnr-b-search {$brickclass_search}">	<span>
		{BEGIN searchform_text}
		<input type="text" {$searchfor_attrs} size="25">
		{END searchform_text}
		{BEGIN searchform_search}
			<a href="#" class="rnr-button img" data-icon="search" {$searchbutton_attrs}></a>
		{END searchform_search}
		{BEGIN searchform_showall}	
		<a href="#" class="rnr-button" {$showAllCont_attrs} {$showallbutton_attrs}>Tunjuk semua</a>
		{END searchform_showall}
	</span>
</div>
{END searchform_block}


{BEGIN searchformbuttons_block}
<div  class="style1 rnr-br rnr-b-search_buttons {$brickclass_search_buttons}">{BEGIN searchPanelTopButtons}
<span>
	<a href="#" class="rnr-button img" id="showSrchWin{$id}" data-icon="panelfloat" {$showHideSearchWin_attrs}></a>
	<a href="#" class="rnr-button img" id="showOptPanel{$id}" data-icon="paneldown" {$showHideSearchPanel_attrs}></a>
</span>
{END searchPanelTopButtons}
</div>
{END searchformbuttons_block}


{BEGIN searchsaving_block}
<div  class="style1 rnr-br rnr-b-search_saving_buttons {$brickclass_search_saving_buttons}"></div>
{END searchsaving_block}



<div  class="style1 rnr-br rnr-b-printpanel {$brickclass_printpanel}"></div>



</div>
{END container_hmenu}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				

{BEGIN container_left}
<div class="rnr-c rnr-cv rnr-c-left">

{BEGIN searchPanel}
<div  class="rnr-brickcontents style1 rnr-b-searchpanel {$brickclass_searchpanel}"><div class="searchPanelContainer">
<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	

	<table class="controlsBlock {$controls_block_class}">
				 
		{BEGIN searchCtrlBlock_fullname}
		<tr class="srchPanelRow {$filterRow_class_fullname}" {$filterRow_attrs_fullname}>
						<td class="srchPanelCell">{$label auditee fullname}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype" style="display: none;">{$searchtype_fullname}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_fullname}</div>
							</td>	
		</tr>
		{END searchCtrlBlock_fullname}
		 
		{BEGIN searchCtrlBlock_sector}
		<tr class="srchPanelRow {$filterRow_class_sector}" {$filterRow_attrs_sector}>
						<td class="srchPanelCell">{$label auditee sector}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype" style="display: none;">{$searchtype_sector}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_sector}</div>
							</td>	
		</tr>
		{END searchCtrlBlock_sector}
		 
		{BEGIN searchCtrlBlock_department}
		<tr class="srchPanelRow {$filterRow_class_department}" {$filterRow_attrs_department}>
						<td class="srchPanelCell">{$label auditee department}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype" style="display: none;">{$searchtype_department}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_department}</div>
							</td>	
		</tr>
		{END searchCtrlBlock_department}
		 
		{BEGIN searchCtrlBlock_paid}
		<tr class="srchPanelRow {$filterRow_class_paid}" {$filterRow_attrs_paid}>
						<td class="srchPanelCell">{$label auditee paid}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype" style="display: none;">{$searchtype_paid}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_paid}</div>
							</td>	
		</tr>
		{END searchCtrlBlock_paid}
		 
		{BEGIN searchCtrlBlock_agency}
		<tr class="srchPanelRow {$filterRow_class_agency}" {$filterRow_attrs_agency}>
						<td class="srchPanelCell">{$label auditee agency}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
								<div class="rnr-searchtype" style="display: none;">{$searchtype_agency}</div>
				<div class="rnr-searchcontrol">{$searchcontrol_agency}</div>
							</td>	
		</tr>
		{END searchCtrlBlock_agency}
	</table>	


	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<a href="#" class="rnr-button" id="searchButton{$id}" {$searchbutton_attrs}>Cari</a>
	</div>
</div>

</div></div>{END searchPanel}



</div>
{END container_left}


			</div>
			<div class="rnr-center {$blockclass_center}">
				

{BEGIN container_recordcontrols}
<div class="rnr-c rnr-ch rnr-c-recordcontrols">

{BEGIN newrecord_controls_block}
<div  class="style1 rnr-bl rnr-b-recordcontrols_new {$brickclass_recordcontrols_new}">		{BEGIN add_link}
		<a href="auditee_add.php{$addlink_getparams}" class="rnr-button" {$addlink_attrs}>Tambah baru</a>
	{END add_link}

		{BEGIN inlineadd_link}
		<a href="#" class="rnr-button" {$inlineaddlink_attrs}>Tambah baru</a>
	{END inlineadd_link}


</div>
{END newrecord_controls_block}


{BEGIN record_controls_block}
<div  class="style1 rnr-bl rnr-b-recordcontrol {$brickclass_recordcontrol}">{BEGIN widhtSelected}
<span class="rnr-buttons-group">
<a class="rnr-button {$withSelectedClass}" href="#" id="selectButtonsToggler{$id}">With selected...</a>
<ul class="rnr-list" id="selectButtonsGroup{$id}">

	
		{BEGIN deleteselected_link}
<li>
		<a href="#" class="rnr-button link" {$deleteselectedlink_attrs} {$deleteselectedlink_span}>Delete</a>
</li>
	{END deleteselected_link}

	
</ul>
</span>
{END widhtSelected}
		{BEGIN saveall_link}
		<a href="#" class="rnr-button" {$savealllink_attrs} {$savealllink_span}>Save all</a>
	{END saveall_link}
	{BEGIN cancelall_link}
		<a href="#" class="rnr-button" {$cancelalllink_attrs} {$cancelalllink_span}>Cancel</a>
	{END cancelall_link}
</div>
{END record_controls_block}


{BEGIN more_list}
<div  class="style1 rnr-bl rnr-b-toplinks {$brickclass_toplinks}"><span class="rnr-buttons-group">
{BEGIN moreButtons}
<a class="rnr-button" id="extraButtonsToggler{$id}" href="#">Lagi...</a>
<ul class="rnr-list rnr-buttons-group" id="extraButtonsGroup{$id}">

{BEGIN asearch_link}
<li>
	<a href="auditee_search.php" class="rnr-button link" {$advsearchlink_attrs}>Carian maju</a>
</li>
{END asearch_link}


</ul>
{END moreButtons}
</span></div>
{END more_list}

<div class="rnr-hfiller"></div>
</div>
{END container_recordcontrols}



{BEGIN container_message}
<div class="rnr-c rnr-ch rnr-c-message">

{BEGIN message_block}
<div  class="style1 rnr-bc rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>
{END message_block}


</div>
{END container_message}



{BEGIN container_pagination}
<div class="rnr-c rnr-ch rnr-multialign rnr-c-pagination">

{BEGIN pagination_block}
<div  class="style1 rnr-bc rnr-b-pagination {$brickclass_pagination}">{$pagination}</div>
{END pagination_block}

<div class="rnr-leftbricks">
{BEGIN details_block}
<div  class="style1 rnr-bl rnr-b-details_found {$brickclass_details_found}">	<span {$details_attrs}>
			Perincian dijumpai: <b><span class="rnr-details_found_count">{$records_found}</span></b>
	</span>
</div>
{END details_block}

</div><div class="rnr-rightbricks">
{BEGIN pages_block}
<div  class="style1 rnr-br rnr-b-page_of {$brickclass_page_of}">	<span {$pages_attrs}>
		Halaman <b>{$page}</b> dari <b>{$maxpages}</b>
	</span>

</div>
{END pages_block}


{BEGIN recordspp_block}
<div  class="style1 rnr-br rnr-b-recsperpage {$brickclass_recsperpage}">	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Rekod per halaman:&nbsp;{$recsPerPage}
	</span>	
</div>
{END recordspp_block}

</div>
</div>
{END container_pagination}



{BEGIN container_grid}


{BEGIN grid_block}
						<table class="rnr-c rnr-cont rnr-c-grid rnr-b-grid rnr-gridtable  hoverable " cellpadding="0" >
						<thead>
															{BEGIN grid_header}
								<tr class="rnr-toprow style1 {$gridHeader_class}" >
									{BEGIN record_header}
									{BEGIN listIcons_column}
									<th iEditCont="all">&nbsp;</th>
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<th class="rnr-bc">
										<input type="checkbox" {$checkboxheader_attrs}>
									</th>
									{END checkbox_column}

																																			{BEGIN fullname_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$fullname_class}">
									{BEGIN fullname_fieldheader}
																				<span {$fullname_orderlinkattrs}>
											{$label auditee fullname}
										</span>
									{END fullname_fieldheader}
									</th>
									{END fullname_fieldheadercolumn}

																	{BEGIN umail_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$umail_class}">
									{BEGIN umail_fieldheader}
																				<span {$umail_orderlinkattrs}>
											{$label auditee umail}
										</span>
									{END umail_fieldheader}
									</th>
									{END umail_fieldheadercolumn}

																	{BEGIN tel_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$tel_class}">
									{BEGIN tel_fieldheader}
																				<span {$tel_orderlinkattrs}>
											{$label auditee tel}
										</span>
									{END tel_fieldheader}
									</th>
									{END tel_fieldheadercolumn}

																	{BEGIN pos_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$pos_class}">
									{BEGIN pos_fieldheader}
																				<span {$pos_orderlinkattrs}>
											{$label auditee pos}
										</span>
									{END pos_fieldheader}
									</th>
									{END pos_fieldheadercolumn}

																	{BEGIN sector_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$sector_class}">
									{BEGIN sector_fieldheader}
																				<span {$sector_orderlinkattrs}>
											{$label auditee sector}
										</span>
									{END sector_fieldheader}
									</th>
									{END sector_fieldheadercolumn}

																	{BEGIN department_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$department_class}">
									{BEGIN department_fieldheader}
																				<span {$department_orderlinkattrs}>
											{$label auditee department}
										</span>
									{END department_fieldheader}
									</th>
									{END department_fieldheadercolumn}

																	{BEGIN paid_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$paid_class}">
									{BEGIN paid_fieldheader}
																				<span {$paid_orderlinkattrs}>
											{$label auditee paid}
										</span>
									{END paid_fieldheader}
									</th>
									{END paid_fieldheadercolumn}

																	{BEGIN agency_fieldheadercolumn}
									<th class="rnr-gridfieldlabel {$agency_class}">
									{BEGIN agency_fieldheader}
																				<span {$agency_orderlinkattrs}>
											{$label auditee agency}
										</span>
									{END agency_fieldheader}
									</th>
									{END agency_fieldheadercolumn}


									
									<th class="rnr-edge">&nbsp;</th>
									{BEGIN endrecordheader_block}
									<th class="rnr-cs">&nbsp;</th>
									
									{END endrecordheader_block}
									
									{END record_header}
									
								</tr>
								{END grid_header}

						</thead>
						<tbody>	
															{BEGIN grid_row}
								<tr class="rnr-row style1 {$rowclass}" {$rowattrs} {$rowstyle}>
									{BEGIN grid_record}
									{BEGIN listIcons_column}
									<td class="rnr-cc rnr-bc rnr-icons" iEditCont="all" {$rowstyle} {$recordattrs}>
																		{BEGIN edit_column}
									{BEGIN edit_link}
																			<a class="rnr-button-img" {$editlink_attrs} data-icon="edit" title="Sunting"></a>
									{END edit_link}
									{END edit_column}

									
									
																		</td>	
									{END listIcons_column}	

																		{BEGIN checkbox_column}
									<td class="rnr-bc" iEditCont="checkBox" {$rowstyle} {$recordattrs}>
									{BEGIN checkbox}
									<input type="checkbox" {$checkbox_attrs}>
									{END checkbox}
									</td>
									{END checkbox_column}

									
										{BEGIN fullname_fieldcolumn}
	<td class="{$fullname_class}" {$fullname_style} {$recordattrs}>
		{$fullname_value}
	</td>
{END fullname_fieldcolumn}

	{BEGIN umail_fieldcolumn}
	<td class="{$umail_class}" {$umail_style} {$recordattrs}>
		{$umail_value}
	</td>
{END umail_fieldcolumn}

	{BEGIN tel_fieldcolumn}
	<td class="{$tel_class}" {$tel_style} {$recordattrs}>
		{$tel_value}
	</td>
{END tel_fieldcolumn}

	{BEGIN pos_fieldcolumn}
	<td class="{$pos_class}" {$pos_style} {$recordattrs}>
		{$pos_value}
	</td>
{END pos_fieldcolumn}

	{BEGIN sector_fieldcolumn}
	<td class="{$sector_class}" {$sector_style} {$recordattrs}>
		{$sector_value}
	</td>
{END sector_fieldcolumn}

	{BEGIN department_fieldcolumn}
	<td class="{$department_class}" {$department_style} {$recordattrs}>
		{$department_value}
	</td>
{END department_fieldcolumn}

	{BEGIN paid_fieldcolumn}
	<td class="{$paid_class}" {$paid_style} {$recordattrs}>
		{$paid_value}
	</td>
{END paid_fieldcolumn}

	{BEGIN agency_fieldcolumn}
	<td class="{$agency_class}" {$agency_style} {$recordattrs}>
		{$agency_value}
	</td>
{END agency_fieldcolumn}


									<td class="rnr-edge" {$recordattrs}>&nbsp;</td>
									{BEGIN endrecord_block}
									<td class="rnr-cs" {$endrecordblock_attrs}>&nbsp;</td>
									{END endrecord_block}
																	
									{END grid_record}

								</tr>
								{END grid_row}
															
						</tbody>
					</table>
					

{END grid_block}



{END container_grid}



{BEGIN container_pagination_bottom}
<div class="rnr-c rnr-ch rnr-multialign rnr-c-pagination_bottom">

{BEGIN pagination_block}
<div  class="style1 rnr-bc rnr-b-pagination {$brickclass_pagination}">{$pagination}</div>
{END pagination_block}

<div class="rnr-leftbricks">
{BEGIN details_block}
<div  class="style1 rnr-bl rnr-b-details_found {$brickclass_details_found}">	<span {$details_attrs}>
			Perincian dijumpai: <b><span class="rnr-details_found_count">{$records_found}</span></b>
	</span>
</div>
{END details_block}

</div><div class="rnr-rightbricks">
{BEGIN pages_block}
<div  class="style1 rnr-br rnr-b-page_of {$brickclass_page_of}">	<span {$pages_attrs}>
		Halaman <b>{$page}</b> dari <b>{$maxpages}</b>
	</span>

</div>
{END pages_block}


{BEGIN recordspp_block}
<div  class="style1 rnr-br rnr-b-recsperpage {$brickclass_recsperpage}">	<span id="recordspp_block{$id}" name="recordspp_block{$id}">
			Rekod per halaman:&nbsp;{$recsPerPage}
	</span>	
</div>
{END recordspp_block}

</div>
</div>
{END container_pagination_bottom}


			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
