<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_view} rnr-wrapper rnr-cbw-view">

{BEGIN container_view}
<div class="rnr-c rnr-cv rnr-c-view">



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fview} rnr-wrapper rnr-cbw-fview">

{BEGIN container_fview}
<div class="rnr-c rnr-cv rnr-c-fview">

{BEGIN viewheader}
<div  class="rnr-brickcontents style2 rnr-b-viewheader {$brickclass_viewheader}"><span>	<h1>{$pagetitlelabel auditee view}</h1>
</span></div>{END viewheader}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-viewfields_atop {$brickclass_viewfields_atop}"><div class="rnr-simplefields">
	{BEGIN fullname_fieldblock}
<div data-fieldname="fullname" class="rnr-field style1 {$fielddispclass_fullname}">
  <div class="rnr-label above">{$label auditee fullname}:</div>
  <div class="rnr-control style3">{$fullname_value}</div>
</div>
{END fullname_fieldblock}
	{BEGIN umail_fieldblock}
<div data-fieldname="umail" class="rnr-field style1 {$fielddispclass_umail}">
  <div class="rnr-label above">{$label auditee umail}:</div>
  <div class="rnr-control style3">{$umail_value}</div>
</div>
{END umail_fieldblock}
	{BEGIN tel_fieldblock}
<div data-fieldname="tel" class="rnr-field style1 {$fielddispclass_tel}">
  <div class="rnr-label above">{$label auditee tel}:</div>
  <div class="rnr-control style3">{$tel_value}</div>
</div>
{END tel_fieldblock}
	{BEGIN sector_fieldblock}
<div data-fieldname="sector" class="rnr-field style1 {$fielddispclass_sector}">
  <div class="rnr-label above">{$label auditee sector}:</div>
  <div class="rnr-control style3">{$sector_value}</div>
</div>
{END sector_fieldblock}
	{BEGIN department_fieldblock}
<div data-fieldname="department" class="rnr-field style1 {$fielddispclass_department}">
  <div class="rnr-label above">{$label auditee department}:</div>
  <div class="rnr-control style3">{$department_value}</div>
</div>
{END department_fieldblock}
	{BEGIN paid_fieldblock}
<div data-fieldname="paid" class="rnr-field style1 {$fielddispclass_paid}">
  <div class="rnr-label above">{$label auditee paid}:</div>
  <div class="rnr-control style3">{$paid_value}</div>
</div>
{END paid_fieldblock}
	{BEGIN agency_fieldblock}
<div data-fieldname="agency" class="rnr-field style1 {$fielddispclass_agency}">
  <div class="rnr-label above">{$label auditee agency}:</div>
  <div class="rnr-control style3">{$agency_value}</div>
</div>
{END agency_fieldblock}
</div></div>


{BEGIN viewbuttons}
<div  class="rnr-brickcontents style2 rnr-b-viewbuttons {$brickclass_viewbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Kembali ke senarai</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Tutup tetingkap</a>
{END close_button}
{BEGIN edit_page_button}
<a href="#" class="rnr-button" {$edit_page_button_attrs}>Sunting</a>
{END edit_page_button}
</div>
</div>{END viewbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_fview}

</div>


</div>
{END container_view}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
