<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN planID_tabfieldblock}
<tr class="{$fielddispclass_planID}" data-fieldname="planID">
	<td class="style1 rnr-label">
		{BEGIN planID_label}{$label audit_form_manual planID}{END planID_label}
	</td>
	<td class="rnr-control style3">
		{$planID_editcontrol}&nbsp;
	</td>
</tr>
{END planID_tabfieldblock}
{BEGIN aStatus_tabfieldblock}
<tr class="{$fielddispclass_aStatus}" data-fieldname="aStatus">
	<td class="style1 rnr-label">
		{BEGIN aStatus_label}{$label audit_form_manual aStatus}{END aStatus_label}
	</td>
	<td class="rnr-control style3">
		{$aStatus_editcontrol}&nbsp;
	</td>
</tr>
{END aStatus_tabfieldblock}
{BEGIN userID_tabfieldblock}
<tr class="{$fielddispclass_userID}" data-fieldname="userID">
	<td class="style1 rnr-label">
		{BEGIN userID_label}{$label audit_form_manual userID}{END userID_label}
	</td>
	<td class="rnr-control style3">
		{$userID_editcontrol}&nbsp;
	</td>
</tr>
{END userID_tabfieldblock}
{BEGIN userCheck_tabfieldblock}
<tr class="{$fielddispclass_userCheck}" data-fieldname="userCheck">
	<td class="style1 rnr-label">
		{BEGIN userCheck_label}{$label audit_form_manual userCheck}{END userCheck_label}
	</td>
	<td class="rnr-control style3">
		{$userCheck_editcontrol}&nbsp;
	</td>
</tr>
{END userCheck_tabfieldblock}
{BEGIN userApprove_tabfieldblock}
<tr class="{$fielddispclass_userApprove}" data-fieldname="userApprove">
	<td class="style1 rnr-label">
		{BEGIN userApprove_label}{$label audit_form_manual userApprove}{END userApprove_label}
	</td>
	<td class="rnr-control style3">
		{$userApprove_editcontrol}&nbsp;
	</td>
</tr>
{END userApprove_tabfieldblock}
{BEGIN userAuditee_tabfieldblock}
<tr class="{$fielddispclass_userAuditee}" data-fieldname="userAuditee">
	<td class="style1 rnr-label">
		{BEGIN userAuditee_label}{$label audit_form_manual userAuditee}{END userAuditee_label}
	</td>
	<td class="rnr-control style3">
		{$userAuditee_editcontrol}&nbsp;
	</td>
</tr>
{END userAuditee_tabfieldblock}
{BEGIN repeatStatus_tabfieldblock}
<tr class="{$fielddispclass_repeatStatus}" data-fieldname="repeatStatus">
	<td class="style1 rnr-label">
		{BEGIN repeatStatus_label}{$label audit_form_manual repeatStatus}{END repeatStatus_label}
	</td>
	<td class="rnr-control style3">
		{$repeatStatus_editcontrol}&nbsp;
	</td>
</tr>
{END repeatStatus_tabfieldblock}
{BEGIN repeatNo_tabfieldblock}
<tr class="{$fielddispclass_repeatNo}" data-fieldname="repeatNo">
	<td class="style1 rnr-label">
		{BEGIN repeatNo_label}{$label audit_form_manual repeatNo}{END repeatNo_label}
	</td>
	<td class="rnr-control style3">
		{$repeatNo_editcontrol}&nbsp;
	</td>
</tr>
{END repeatNo_tabfieldblock}
</table>




{END container_1}

</div>