<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN aDate_tabfieldblock}
<tr class="{$fielddispclass_aDate}" data-fieldname="aDate">
	<td class="style1 rnr-label">
		{BEGIN aDate_label}{$label audit_form_manual aDate}{END aDate_label}
	</td>
	<td class="rnr-control style3">
		{$aDate_editcontrol}&nbsp;
	</td>
</tr>
{END aDate_tabfieldblock}
{BEGIN dateSend_tabfieldblock}
<tr class="{$fielddispclass_dateSend}" data-fieldname="dateSend">
	<td class="style1 rnr-label">
		{BEGIN dateSend_label}{$label audit_form_manual dateSend}{END dateSend_label}
	</td>
	<td class="rnr-control style3">
		{$dateSend_editcontrol}&nbsp;
	</td>
</tr>
{END dateSend_tabfieldblock}
{BEGIN dueDate_tabfieldblock}
<tr class="{$fielddispclass_dueDate}" data-fieldname="dueDate">
	<td class="style1 rnr-label">
		{BEGIN dueDate_label}{$label audit_form_manual dueDate}{END dueDate_label}
	</td>
	<td class="rnr-control style3">
		{$dueDate_editcontrol}&nbsp;
	</td>
</tr>
{END dueDate_tabfieldblock}
{BEGIN dateRemind_tabfieldblock}
<tr class="{$fielddispclass_dateRemind}" data-fieldname="dateRemind">
	<td class="style1 rnr-label">
		{BEGIN dateRemind_label}{$label audit_form_manual dateRemind}{END dateRemind_label}
	</td>
	<td class="rnr-control style3">
		{$dateRemind_editcontrol}&nbsp;
	</td>
</tr>
{END dateRemind_tabfieldblock}
{BEGIN dateAnswer_tabfieldblock}
<tr class="{$fielddispclass_dateAnswer}" data-fieldname="dateAnswer">
	<td class="style1 rnr-label">
		{BEGIN dateAnswer_label}{$label audit_form_manual dateAnswer}{END dateAnswer_label}
	</td>
	<td class="rnr-control style3">
		{$dateAnswer_editcontrol}&nbsp;
	</td>
</tr>
{END dateAnswer_tabfieldblock}
{BEGIN dateFollowUp_tabfieldblock}
<tr class="{$fielddispclass_dateFollowUp}" data-fieldname="dateFollowUp">
	<td class="style1 rnr-label">
		{BEGIN dateFollowUp_label}{$label audit_form_manual dateFollowUp}{END dateFollowUp_label}
	</td>
	<td class="rnr-control style3">
		{$dateFollowUp_editcontrol}&nbsp;
	</td>
</tr>
{END dateFollowUp_tabfieldblock}
{BEGIN dateAnswer2_tabfieldblock}
<tr class="{$fielddispclass_dateAnswer2}" data-fieldname="dateAnswer2">
	<td class="style1 rnr-label">
		{BEGIN dateAnswer2_label}{$label audit_form_manual dateAnswer2}{END dateAnswer2_label}
	</td>
	<td class="rnr-control style3">
		{$dateAnswer2_editcontrol}&nbsp;
	</td>
</tr>
{END dateAnswer2_tabfieldblock}
{BEGIN dateFollowUp2_tabfieldblock}
<tr class="{$fielddispclass_dateFollowUp2}" data-fieldname="dateFollowUp2">
	<td class="style1 rnr-label">
		{BEGIN dateFollowUp2_label}{$label audit_form_manual dateFollowUp2}{END dateFollowUp2_label}
	</td>
	<td class="rnr-control style3">
		{$dateFollowUp2_editcontrol}&nbsp;
	</td>
</tr>
{END dateFollowUp2_tabfieldblock}
{BEGIN dateAnswer3_tabfieldblock}
<tr class="{$fielddispclass_dateAnswer3}" data-fieldname="dateAnswer3">
	<td class="style1 rnr-label">
		{BEGIN dateAnswer3_label}{$label audit_form_manual dateAnswer3}{END dateAnswer3_label}
	</td>
	<td class="rnr-control style3">
		{$dateAnswer3_editcontrol}&nbsp;
	</td>
</tr>
{END dateAnswer3_tabfieldblock}
{BEGIN dateRemind2_tabfieldblock}
<tr class="{$fielddispclass_dateRemind2}" data-fieldname="dateRemind2">
	<td class="style1 rnr-label">
		{BEGIN dateRemind2_label}{$label audit_form_manual dateRemind2}{END dateRemind2_label}
	</td>
	<td class="rnr-control style3">
		{$dateRemind2_editcontrol}&nbsp;
	</td>
</tr>
{END dateRemind2_tabfieldblock}
{BEGIN dueDate2_tabfieldblock}
<tr class="{$fielddispclass_dueDate2}" data-fieldname="dueDate2">
	<td class="style1 rnr-label">
		{BEGIN dueDate2_label}{$label audit_form_manual dueDate2}{END dueDate2_label}
	</td>
	<td class="rnr-control style3">
		{$dueDate2_editcontrol}&nbsp;
	</td>
</tr>
{END dueDate2_tabfieldblock}
{BEGIN dateRemind3_tabfieldblock}
<tr class="{$fielddispclass_dateRemind3}" data-fieldname="dateRemind3">
	<td class="style1 rnr-label">
		{BEGIN dateRemind3_label}{$label audit_form_manual dateRemind3}{END dateRemind3_label}
	</td>
	<td class="rnr-control style3">
		{$dateRemind3_editcontrol}&nbsp;
	</td>
</tr>
{END dateRemind3_tabfieldblock}
{BEGIN dueDate3_tabfieldblock}
<tr class="{$fielddispclass_dueDate3}" data-fieldname="dueDate3">
	<td class="style1 rnr-label">
		{BEGIN dueDate3_label}{$label audit_form_manual dueDate3}{END dueDate3_label}
	</td>
	<td class="rnr-control style3">
		{$dueDate3_editcontrol}&nbsp;
	</td>
</tr>
{END dueDate3_tabfieldblock}
{BEGIN dateFinish_tabfieldblock}
<tr class="{$fielddispclass_dateFinish}" data-fieldname="dateFinish">
	<td class="style1 rnr-label">
		{BEGIN dateFinish_label}{$label audit_form_manual dateFinish}{END dateFinish_label}
	</td>
	<td class="rnr-control style3">
		{$dateFinish_editcontrol}&nbsp;
	</td>
</tr>
{END dateFinish_tabfieldblock}
</table>




{END container_1}

</div>