	{BEGIN item1_menulink}
	<div id="item1" class="rnr-b-hmenu {$menustyle} Leaf {$item1_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item1_menulink_attrs}>{$item1_title}</a></div>



	</div>
	{END item1_menulink}
	{BEGIN item2_menulink}
	<div id="item2" class="rnr-b-hmenu {$menustyle} Group {$item2_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item2_menulink_attrs}>{$item2_title}</a></div>



			<ul >
			{BEGIN item3_menulink}
			<li  parent="group2" class="Leaf {$item3_current} menuLeaf">
			<div>
<div>
<a {$item3_menulink_attrs}>{$item3_title}</a>
</div>
</div>



			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li  parent="group2" class="Leaf {$item4_current} menuLeaf">
			<div>
<div>
<a {$item4_menulink_attrs}>{$item4_title}</a>
</div>
</div>



			</li>
			{END item4_menulink}
			</ul>
	</div>
	{END item2_menulink}
	{BEGIN item5_menulink}
	<div id="item5" class="rnr-b-hmenu {$menustyle} Group {$item5_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item5_menulink_attrs}>{$item5_title}</a></div>



			<ul >
			{BEGIN item6_menulink}
			<li  parent="group5" class="Leaf {$item6_current} menuLeaf">
			<div>
<div>
<a {$item6_menulink_attrs}>{$item6_title}</a>
</div>
</div>



			</li>
			{END item6_menulink}
					{BEGIN item7_menulink}
			<li  parent="group5" class="Leaf {$item7_current} menuLeaf">
			<div>
<div>
<a {$item7_menulink_attrs}>{$item7_title}</a>
</div>
</div>



			</li>
			{END item7_menulink}
					{BEGIN item8_menulink}
			<li  parent="group5" class="Leaf {$item8_current} menuLeaf">
			<div>
<div>
<a {$item8_menulink_attrs}>{$item8_title}</a>
</div>
</div>



			</li>
			{END item8_menulink}
			</ul>
	</div>
	{END item5_menulink}
	{BEGIN item9_menulink}
	<div id="item9" class="rnr-b-hmenu {$menustyle} Group {$item9_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item9_menulink_attrs}>{$item9_title}</a></div>



			<ul >
			{BEGIN item10_menulink}
			<li  parent="group9" class="Leaf {$item10_current} menuLeaf">
			<div>
<div>
<a {$item10_menulink_attrs}>{$item10_title}</a>
</div>
</div>



			</li>
			{END item10_menulink}
					{BEGIN item11_menulink}
			<li  parent="group9" class="Leaf {$item11_current} menuLeaf">
			<div>
<div>
<a {$item11_menulink_attrs}>{$item11_title}</a>
</div>
</div>



			</li>
			{END item11_menulink}
					{BEGIN item12_menulink}
			<li  parent="group9" class="Leaf {$item12_current} menuLeaf">
			<div>
<div>
<a {$item12_menulink_attrs}>{$item12_title}</a>
</div>
</div>



			</li>
			{END item12_menulink}
					{BEGIN item13_menulink}
			<li  parent="group9" class="Leaf {$item13_current} menuLeaf">
			<div>
<div>
<a {$item13_menulink_attrs}>{$item13_title}</a>
</div>
</div>



			</li>
			{END item13_menulink}
			</ul>
	</div>
	{END item9_menulink}
	{BEGIN item14_menulink}
	<div id="item14" class="rnr-b-hmenu {$menustyle} Group {$item14_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item14_menulink_attrs}>{$item14_title}</a></div>



			<ul >
			{BEGIN item15_menulink}
			<li  parent="group14" class="Leaf {$item15_current} menuLeaf">
			<div>
<div>
<a {$item15_menulink_attrs}>{$item15_title}</a>
</div>
</div>



			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li  parent="group14" class="Leaf {$item16_current} menuLeaf">
			<div>
<div>
<a {$item16_menulink_attrs}>{$item16_title}</a>
</div>
</div>



			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li  parent="group14" class="Leaf {$item17_current} menuLeaf">
			<div>
<div>
<a {$item17_menulink_attrs}>{$item17_title}</a>
</div>
</div>



			</li>
			{END item17_menulink}
					{BEGIN item18_menulink}
			<li  parent="group14" class="Leaf {$item18_current} menuLeaf">
			<div>
<div>
<a {$item18_menulink_attrs}>{$item18_title}</a>
</div>
</div>



			</li>
			{END item18_menulink}
			</ul>
	</div>
	{END item14_menulink}
	{BEGIN item19_menulink}
	<div id="item19" class="rnr-b-hmenu {$menustyle} Group {$item19_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item19_menulink_attrs}>{$item19_title}</a></div>



			<ul >
			{BEGIN item20_menulink}
			<li  parent="group19" class="Leaf {$item20_current} menuLeaf">
			<div>
<div>
<a {$item20_menulink_attrs}>{$item20_title}</a>
</div>
</div>



			</li>
			{END item20_menulink}
					{BEGIN item21_menulink}
			<li  parent="group19" class="Leaf {$item21_current} menuLeaf">
			<div>
<div>
<a {$item21_menulink_attrs}>{$item21_title}</a>
</div>
</div>



			</li>
			{END item21_menulink}
					{BEGIN item22_menulink}
			<li  parent="group19" class="Leaf {$item22_current} menuLeaf">
			<div>
<div>
<a {$item22_menulink_attrs}>{$item22_title}</a>
</div>
</div>



			</li>
			{END item22_menulink}
					{BEGIN item23_menulink}
			<li  parent="group19" class="Leaf {$item23_current} menuLeaf">
			<div>
<div>
<a {$item23_menulink_attrs}>{$item23_title}</a>
</div>
</div>



			</li>
			{END item23_menulink}
			</ul>
	</div>
	{END item19_menulink}
	{BEGIN item24_menulink}
	<div id="item24" class="rnr-b-hmenu {$menustyle} Leaf {$item24_current}">
	<span class="rnr-hseparator"></span><div>
<a {$item24_menulink_attrs}>{$item24_title}</a></div>



	</div>
	{END item24_menulink}


