<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="aid">
	{$aid_editcontrol}
	</control>
	<control field="aTitle">
	{$aTitle_editcontrol}
	</control>
	<control field="aYear">
	{$aYear_editcontrol}
	</control>
	<control field="procedureID">
	{$procedureID_editcontrol}
	</control>
	<control field="notes">
	{$notes_editcontrol}
	</control>
	<control field="jan">
	{$jan_editcontrol}
	</control>
	<control field="feb">
	{$feb_editcontrol}
	</control>
	<control field="mac">
	{$mac_editcontrol}
	</control>
	<control field="apr">
	{$apr_editcontrol}
	</control>
	<control field="may">
	{$may_editcontrol}
	</control>
	<control field="jun">
	{$jun_editcontrol}
	</control>
	<control field="jul">
	{$jul_editcontrol}
	</control>
	<control field="aug">
	{$aug_editcontrol}
	</control>
	<control field="sep">
	{$sep_editcontrol}
	</control>
	<control field="oct">
	{$oct_editcontrol}
	</control>
	<control field="nov">
	{$nov_editcontrol}
	</control>
	<control field="dece">
	{$dece_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>