<div {$pageattrs}>

{BEGIN container_1}



<table class="fieldGrid">
{BEGIN aYear_tabfieldblock}
<tr class="{$fielddispclass_aYear}" data-fieldname="aYear">
	<td class="style1 rnr-label">
		{BEGIN aYear_label}{$label set_audit_title aYear}{END aYear_label}
	</td>
	<td class="rnr-control style3">
		{$aYear_editcontrol}&nbsp;
	</td>
</tr>
{END aYear_tabfieldblock}
{BEGIN jan_tabfieldblock}
<tr class="{$fielddispclass_jan}" data-fieldname="jan">
	<td class="style1 rnr-label">
		{BEGIN jan_label}{$label set_audit_title jan}{END jan_label}
	</td>
	<td class="rnr-control style3">
		{$jan_editcontrol}&nbsp;
	</td>
</tr>
{END jan_tabfieldblock}
{BEGIN feb_tabfieldblock}
<tr class="{$fielddispclass_feb}" data-fieldname="feb">
	<td class="style1 rnr-label">
		{BEGIN feb_label}{$label set_audit_title feb}{END feb_label}
	</td>
	<td class="rnr-control style3">
		{$feb_editcontrol}&nbsp;
	</td>
</tr>
{END feb_tabfieldblock}
{BEGIN mac_tabfieldblock}
<tr class="{$fielddispclass_mac}" data-fieldname="mac">
	<td class="style1 rnr-label">
		{BEGIN mac_label}{$label set_audit_title mac}{END mac_label}
	</td>
	<td class="rnr-control style3">
		{$mac_editcontrol}&nbsp;
	</td>
</tr>
{END mac_tabfieldblock}
{BEGIN apr_tabfieldblock}
<tr class="{$fielddispclass_apr}" data-fieldname="apr">
	<td class="style1 rnr-label">
		{BEGIN apr_label}{$label set_audit_title apr}{END apr_label}
	</td>
	<td class="rnr-control style3">
		{$apr_editcontrol}&nbsp;
	</td>
</tr>
{END apr_tabfieldblock}
{BEGIN may_tabfieldblock}
<tr class="{$fielddispclass_may}" data-fieldname="may">
	<td class="style1 rnr-label">
		{BEGIN may_label}{$label set_audit_title may}{END may_label}
	</td>
	<td class="rnr-control style3">
		{$may_editcontrol}&nbsp;
	</td>
</tr>
{END may_tabfieldblock}
{BEGIN jun_tabfieldblock}
<tr class="{$fielddispclass_jun}" data-fieldname="jun">
	<td class="style1 rnr-label">
		{BEGIN jun_label}{$label set_audit_title jun}{END jun_label}
	</td>
	<td class="rnr-control style3">
		{$jun_editcontrol}&nbsp;
	</td>
</tr>
{END jun_tabfieldblock}
{BEGIN jul_tabfieldblock}
<tr class="{$fielddispclass_jul}" data-fieldname="jul">
	<td class="style1 rnr-label">
		{BEGIN jul_label}{$label set_audit_title jul}{END jul_label}
	</td>
	<td class="rnr-control style3">
		{$jul_editcontrol}&nbsp;
	</td>
</tr>
{END jul_tabfieldblock}
{BEGIN aug_tabfieldblock}
<tr class="{$fielddispclass_aug}" data-fieldname="aug">
	<td class="style1 rnr-label">
		{BEGIN aug_label}{$label set_audit_title aug}{END aug_label}
	</td>
	<td class="rnr-control style3">
		{$aug_editcontrol}&nbsp;
	</td>
</tr>
{END aug_tabfieldblock}
{BEGIN sep_tabfieldblock}
<tr class="{$fielddispclass_sep}" data-fieldname="sep">
	<td class="style1 rnr-label">
		{BEGIN sep_label}{$label set_audit_title sep}{END sep_label}
	</td>
	<td class="rnr-control style3">
		{$sep_editcontrol}&nbsp;
	</td>
</tr>
{END sep_tabfieldblock}
{BEGIN oct_tabfieldblock}
<tr class="{$fielddispclass_oct}" data-fieldname="oct">
	<td class="style1 rnr-label">
		{BEGIN oct_label}{$label set_audit_title oct}{END oct_label}
	</td>
	<td class="rnr-control style3">
		{$oct_editcontrol}&nbsp;
	</td>
</tr>
{END oct_tabfieldblock}
{BEGIN nov_tabfieldblock}
<tr class="{$fielddispclass_nov}" data-fieldname="nov">
	<td class="style1 rnr-label">
		{BEGIN nov_label}{$label set_audit_title nov}{END nov_label}
	</td>
	<td class="rnr-control style3">
		{$nov_editcontrol}&nbsp;
	</td>
</tr>
{END nov_tabfieldblock}
{BEGIN dece_tabfieldblock}
<tr class="{$fielddispclass_dece}" data-fieldname="dece">
	<td class="style1 rnr-label">
		{BEGIN dece_label}{$label set_audit_title dece}{END dece_label}
	</td>
	<td class="rnr-control style3">
		{$dece_editcontrol}&nbsp;
	</td>
</tr>
{END dece_tabfieldblock}
</table>




{END container_1}

</div>